.inner-box{
  width:769px;
  margin:0 auto;
}

.inner-box2{
  width:1185px;
  margin:0 auto;
}

.line-height-19{
  line-height:1.9;
}

.clearfix:after{
  content:'';
  display:block;
  clear:both;
}

.inner-section{
  width:1280px;
  margin:0 auto;
}

.mb100{
  margin-bottom:100px;
}

.head{
  font-size:44px;
  font-weight:600;
}

.footer{
  background:#eeeeee;
  height:93px;
}

.sec1-image{
  width:1280px;
  height:699px;
  background:url(../images/about_image_1.jpg) no-repeat;
  text-indent:-99999px;
}

.section2{
  padding:160px 0;
}

.sec2-text{
  text-align:center;
}

.sec3-image{
  width:640px;
  height:450px;
  background:url(../images/about_image_2.jpg) no-repeat;
  float:left;
}

.sec3-text-wrap{
  width:640px;
  height:450px;
  float:right;
}

.sec3-text-heading{
  font-size:45px;
  padding:48px 0 0 40px;
}

.sec3-text{
  width:209px;
  float:left;
  margin:90px 0 0 55px;
}

.sec3-list{
  float:right;
  margin:90px 75px 0 0;
}

.copy{
  font-size:16px;
  float:left;
  margin:40px 0 0 8px;
}

.email{
  font-size:16px;
  float:right;
  margin:40px 8px 0 0;
}

/* contact */
.con1-image{
  width:1280px;
  height:399px;
  background:url(../images/contact_image_1.jpg) no-repeat;
  text-indent:-99999px;
}

.contact-section2{
  text-align:center;
  padding-top:125px;
}

.con2-this{
  color:#d4af37;
  font-size:13px;
  font-weight:700;
}

.con2-head{
  font-size:44px;
  font-weight:700;
  margin-bottom:83px;
}

.con2-item.box{
  width:300px;
  height:300px;
  text-align:left;
  padding:33px 0 0 32px;
  box-sizing:border-box;
}

.con2-item.box.yellow{
  background:#d3b000;
  float:left;
}

.con2-item.box.black{
  background:#000;
  float:right;
}

.con2-item-bar{
  width:31px;
  height:3px;
  text-indent:-99999px;
  background:#fff;
  margin-bottom:45px;
}

.con2-item-text{
  color:#fff;
  font-size:25px;
}

.con2-item2{
  width:462px;
  height:300px;
  background:url(../images/contact_image_2.jpg) no-repeat;
  float:right;
}

.con2-item3{
  width:390px;
  height:300px;
  float:left;
  padding:45px 0 0 45px;
  box-sizing:border-box;
  text-align:left;
}

.con2-item-paragraph{
  font-size:19px;
}

.con2-item-button{
  width:238px;
  height:57px;
  border:1px solid #000;
  box-sizing:border-box;
  margin:77px 0 86px 0;
  background:#fff;
}

.con2-item-button:hover{
  cursor:pointer;
}

.blog-image{
  width:100%;
  height:399px;
  background:url(../images/blog_image_head.jpg) no-repeat;
  text-indent:-99999px;
}

.blog-section-wrap{
  background:#ddd;
  padding:174px 86px 144px 114px;
  box-sizing:border-box;
}

.blog-section2{
  width:600px;
  float:left;
}

.blog2-image{
  width:600px;
  height:400px;
  text-indent:-99999px;
}

.blog2-image.image-1{
  background:url(../images/blog_image_sec2_1.jpg) no-repeat;
}

.blog2-image.image-2{
  background:url(../images/blog_image_sec2_2.jpg) no-repeat;
}

.blog2-post{
  font-size:30px;
  color:#000;
  padding:40px 0;
}

.blog2-day{
  font-size:15px;
  color:#d3b000;
  margin-bottom:30px;
}

.blog2-paragraph{
  font-size:16px;
  color:#021725;
  margin-bottom:65px;
}

.blog2-button{
  font-size:16px;
  color:#021725;
  width:191px;
  height:48px;
  border:1px solid #021725;
  box-sizing:border-box;
  background:#fff;
}

.blog-section3{
  width:297px;
  float:left;
  margin-left:87px;
}

.blog3-box-wrap{
  margin-bottom:58px;
}

.blog3-box-wrap:last-child{
  margin-bottom:0;
}

.blog3-box-head{
  width:297px;
  height:38px;
  border-bottom:1px solid #d3b000;
  padding-left:3px;
  box-sizing:border-box;
  margin-bottom:35px;
}

.blog3-list-item{
  font-size:16px;
  color:#021725;
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
}

.blog3-item-image{
  width:297px;
  height:299px;
  margin-bottom:3px;
  text-indent:-99999px;
}

.blog3-item-image.side1{
  background:url(../images/blog_image_side1.jpg) no-repeat;
}

.blog3-item-image.side2{
  background:url(../images/blog_image_side2.jpg) no-repeat;
}

.blog3-item-image.side3{
  background:url(../images/blog_image_side3.jpg) no-repeat;
}

.blog3-item-image.side4{
  background:url(../images/blog_image_side4.jpg) no-repeat;
  margin-bottom:0;
}

.blog-post-link{
  float:left;
  width:239px;
  height:59px;
  border:1px solid #000;
  box-sizing:border-box;
  display:block;
  color:#000;
  background:#fff;
  text-align:center;
  padding-top:14px;
  margin:100px 0 0 360px;
}

.project-image{
  height:699px;
  background:url(../images/project_image1.jpg) no-repeat;
  text-indent:-99999px;
}

.project-section2{
  color:#000;
  background:#ddd;
  padding:87px 85px 64px 84px;
  box-sizing:border-box;
}

.project2-wrap1{
  float:left;
  width:666px;
}

.project2-head{
  font-size:45px;
  font-weight:600;
}

.project2-paragraph{
  font-size:20px;
  margin-bottom:100px;
}

.project2-list-item{
  width:666px;
  height:417px;
  text-indent:-99999px;
  margin-bottom:19px;
}

.project2-list-item:nth-child(1){
  background:url(../images/project_image2-1.jpg) no-repeat;
}

.project2-list-item:nth-child(2){
  height:416px;
  background:url(../images/project_image2-2.jpg) no-repeat;
}

.project2-list-item:nth-child(3){
  height:832px;
  background:url(../images/project_image2-3.jpg) no-repeat;
}

.project2-list-item:nth-child(4){
  background:url(../images/project_image2-4.jpg) no-repeat;
  margin-bottom:0;
}

.project2-list2{
  width:297px;
  float:right;
}

.project2-list2-item{
  width:297px;
  height:299px;
  text-indent:-99999px;
  margin-bottom:3px;
}

.project2-list2-item:nth-child(1){
  background:url(../images/project_image3-1.jpg) no-repeat;
}

.project2-list2-item:nth-child(2){
  background:url(../images/project_image3-2.jpg) no-repeat;
}

.project2-list2-item:nth-child(3){
  background:url(../images/project_image3-3.jpg) no-repeat;
}

.project2-list2-item:nth-child(4){
  background:url(../images/project_image3-4.jpg) no-repeat;
}

.project2-list2-item:nth-child(5){
  background:url(../images/project_image3-5.jpg) no-repeat;
}

.project2-list2-item:nth-child(6){
  background:url(../images/project_image3-6.jpg) no-repeat;
}

.project-section3{
  padding:104px 0 73px 85px;
  box-sizing:border-box;
}

.project3-sns{
  display:block;
  float:left;
  width:249px;
  height:58px;
  border:1px solid #a1a1a1;
  box-sizing:border-box;
  text-align:center;
  color:#d0d0d0;
  padding-top:15px;
  margin-right:135px;
}

.project3-sns:last-child{
  margin:0;
}

.index-image{
  height:699px;
  background:url(../images/index1_1.jpg) no-repeat;
}

.index-section2{
  text-align:center;
  padding:80px 0 160px;
}

.yellow{
  color:#d3b000;
  font-size:13px;
  font-weight:600;
}

.index2-head{
  margin-bottom:50px;
}

.index2-paragraph{
  margin-bottom:45px;
}

.index2-link{
  display:block;
  width:238px;
  height:57px;
  border:1px solid #021725;
  box-sizing:border-box;
  padding-top:14px;
  margin-left:264px;
}

.index-section3{
  text-align:center;
}

.index3-head{
  margin-bottom:90px;
}

.index3-list{
  margin-bottom:160px;
}

.index3-list-item{
  float:left;
  width:317px;
  height:300px;
  text-indent:-99999px;
  margin-right:4px;
}

.index3-list-item:nth-child(1){
  background:url(../images/index2_1.jpg) no-repeat;
}

.index3-list-item:nth-child(2){
  background:url(../images/index2_2.jpg) no-repeat;
}

.index3-list-item:nth-child(3){
  background:url(../images/index2_3.jpg) no-repeat;
}

.index3-list-item:nth-child(4){
  background:url(../images/index2_4.jpg) no-repeat;
  margin:0;
}

.index3-list-item:nth-child(5){
  background:url(../images/index2_5.jpg) no-repeat;
}

.index3-list-item:nth-child(6){
  background:url(../images/index2_6.jpg) no-repeat;
}

.index3-list-item:nth-child(7){
  background:url(../images/index2_7.jpg) no-repeat;
}

.index3-list-item:nth-child(8){
  background:url(../images/index2_8.jpg) no-repeat;
  margin:0;
}

.index-section4{
  text-align:center;
}

.index4-list-item{
  float:left;
  width:246px;
  height:423px;
  text-align:left;
}

.index4-item-image{
  width:246px;
  height:192px;
  text-indent:-99999px;
}

.index4-item-image.image1{
  background:url(../images/index3_1.jpg) no-repeat;
}

.index4-item-image.image2{
  background:url(../images/index3_2.jpg) no-repeat;
}

.index4-item-image.image3{
  background:url(../images/index3_3.jpg) no-repeat;
}

.index4-text-wrap{
  width:246px;
  height:231px;
  box-sizing:border-box;
  padding:18px 20px 45px 15px;
}

.index4-item-name{
  font-size:21px;
  font-weight:600;
  margin-bottom:8px;
}

.index4-item-paragraph{
  font-size:13px;
}

.index-section5{
  text-align:center;
}

.index5-yellow{
  padding-top:160px;
}

.index5-post-wrap{
  width:770px;
  height:390px;
}

.index5-image{
  width:385px;
  height:390px;
  float:left;
  background:url(../images/index4_1.jpg) no-repeat;
  text-indent:-99999px;
}

.index5-text-wrap{
  width:385px;
  height:390px;
  float:left;
  padding:40px 34px 55px 34px;
  box-sizing:border-box;
  background:#ddd;
  text-align:left;
}

.index5-text-day{
  font-size:13px;
  color:#505d68;
  margin-bottom:5px;
}

.index5-text-space{
  font-size:30px;
  color:#505d68;
  font-weight:600;
  margin-bottom:15px;
}

.index5-paragraph{
  font-size:16px;
  margin-bottom:40px;
}

.index5-link-read{
  display:block;
  width:127px;
  height:48px;
  color:#000;
  border:1px solid #000;
  box-sizing:border-box;
  text-align:center;
  padding-top:9px;
}

.index5-link-more{
  display:block;
  margin:80px 0 0 263px;
  width:238px;
  height:57px;
  border:1px solid #000;
  box-sizing:border-box;
  color:#000;
  font-size:14px;
  padding-top:16px;
}